<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GreetingServlet</servlet-name>
        <servlet-class>Library.GreetingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Library.model.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>Library.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSection</servlet-name>
        <servlet-class>Library.AdminSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>Library.model.Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>Library.model.CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>Library.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBook</servlet-name>
        <servlet-class>Library.NewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>Library.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBook</servlet-name>
        <servlet-class>Library.EditBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelUser</servlet-name>
        <servlet-class>Library.DelUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelUserServlet</servlet-name>
        <servlet-class>Library.DelUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBook</servlet-name>
        <servlet-class>Library.SearchBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReIssueBook</servlet-name>
        <servlet-class>Library.ReIssueBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calculateFine</servlet-name>
        <servlet-class>Library.calculateFine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reserve</servlet-name>
        <servlet-class>Library.model.Reserve</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BulkEntryServlet</servlet-name>
        <servlet-class>Library.BulkEntryServlet</servlet-class>
        <multipart-config>
            <location>/tmp</location>
            <max-file-size>20848820</max-file-size>
            <max-request-size>418018841</max-request-size>
            <file-size-threshold>1048576</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetingServlet</servlet-name>
        <url-pattern>/GreetingServletPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSection</servlet-name>
        <url-pattern>/AdminSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBook</servlet-name>
        <url-pattern>/NewBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBook</servlet-name>
        <url-pattern>/EditBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelUser</servlet-name>
        <url-pattern>/DelUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelUserServlet</servlet-name>
        <url-pattern>/DelUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBook</servlet-name>
        <url-pattern>/SearchBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReIssueBook</servlet-name>
        <url-pattern>/ReIssueBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculateFine</servlet-name>
        <url-pattern>/calculateFine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reserve</servlet-name>
        <url-pattern>/Reserve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BulkEntryServlet</servlet-name>
        <url-pattern>/BulkEntryServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
